# ~/.gitconfig
[user]
	name = iberniex
	email = ben.karanja@icloud.com
[merge]
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
